src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:json="http://www.mulesoft.org/schema/mule/json" 
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" 
	xmlns:db="http://www.mulesoft.org/schema/mule/db" 
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" 
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd">
    <data-mapper:config name="map_to_list_user_" transformationGraphPath="map_to_list_user_.grf" doc:name="map_to_list_user_"/>
    <data-mapper:config name="map_to_user" transformationGraphPath="map_to_user.grf" doc:name="map_to_user"/>
    
    <batch:job name="syncUsersBatch">
        <batch:threading-profile poolExhaustedAction="WAIT"/>
        <batch:input>
            <db:select config-ref="GenericDatabaseConnectorMySql" doc:name="query database for users">
                <db:parameterized-query><![CDATA[select firstname, lastname, id, email, salesforce_id from sf_user]]></db:parameterized-query>




            </db:select>
        </batch:input>
        <batch:process-records>
            <batch:step name="foreachUserFetchSalesforceStep">
                <enricher source="#[payload]" target="#[recordVars['userInSF']]" doc:name="store result in record var 'userInSF'">
                    <sfdc:query-single config-ref="SalesforceA" query="SELECT Id, ProfileId, Email FROM User WHERE Email = '#[payload.email]'"  doc:name="query Salesforce for current user"/>
                </enricher>
            </batch:step>
            <batch:step name="upserUpsertInSalesforceStep">
                <expression-component doc:name="add Id and profile Id to the payload"><![CDATA[if(recordVars['userInSF'] is NullPayload){
	// Remove ID as it is an insert
	payload.remove('Id');
} else {
	// Add target system ID as it is an update
	payload.put('sfid', recordVars['userInSF']['Id']);
	payload.put('sfprofileid', recordVars['userInSF']['ProfileId']);
}

]]></expression-component>

                <data-mapper:transform config-ref="map_to_user" doc:name="Map Database User to Salesforce User">
                    <data-mapper:input-arguments>
                        <data-mapper:input-argument key="LanguageLocaleKey">#[payload.sfid == null ? '${user.languageLocaleKey}' : null]</data-mapper:input-argument>
                        <data-mapper:input-argument key="LocaleSidKey">#[payload.sfid == null ? '${user.localeSidKey}' : null]</data-mapper:input-argument>
                        <data-mapper:input-argument key="ProfileId">#[payload.sfid == null ? '${user.profileId}' : null]</data-mapper:input-argument>
                        <data-mapper:input-argument key="EmailEncodingKey">#[payload.sfid == null ? '${user.emailEncodingKey}' : null]</data-mapper:input-argument>
                        <data-mapper:input-argument key="TimeZoneSidKey">#[payload.sfid == null ? '${user.timeZoneSidKey}' : null]</data-mapper:input-argument>
                    </data-mapper:input-arguments>
                </data-mapper:transform>

                <batch:commit size="200" doc:name="Batch Commit">
                    <sfdc:upsert config-ref="SalesforceA"  doc:name="upsert Users in Salesforce" externalIdFieldName="Id" type="User">
                        <sfdc:objects ref="#[payload]"/>
                    </sfdc:upsert>
                </batch:commit>

            </batch:step>
        </batch:process-records>
        <batch:on-complete>
            <scatter-gather doc:name="All">
                <processor-chain>
                    <json:object-to-json-transformer doc:name="transform BatchJobInstance to JSON"/>
                    <logger message="Migration process has finished: #[payload]" level="INFO" doc:name="log migration process has finished"/>
                </processor-chain>
                <processor-chain>
                    <json:object-to-json-transformer doc:name="transform BatchJobInstance to JSON"/>
                    <smtp:outbound-endpoint host="${smtp.host}" port="${smtp.port}" user="${smtp.user}" password="${smtp.password}" to="${mail.to}" from="${mail.from}" subject="${mail.subject}" responseTimeout="10000" connector-ref="gmailConnector" doc:name="send result of the batch in mail"/>
                </processor-chain>
            </scatter-gather>

        </batch:on-complete>
    </batch:job>
    <flow name="mainFlow" doc:name="mainFlow">
        <batch:execute name="syncUsersBatch" doc:name="Trigger syncUsersBatch batch step"/>
        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="catch Exception and call defaultChoiceExceptionStrategy"/>
    </flow>


</mule>
